-----BEGIN CERTIFICATE-----
MIIDhTCCAm2gAwIBAgIUZHJDh7B3L95x6Pp05E66yVoL3mEwDQYJKoZIhvcNAQEL
BQAwUjELMAkGA1UEBhMCUEwxEzARBgNVBAgMClNvbWUtU3RhdGUxDjAMBgNVBAoM
BVJlYWxOMQ4wDAYDVQQLDAVSZWFsTjEOMAwGA1UEAwwFUmVhbE4wHhcNMjMwNzE0
MTA0OTI5WhcNMjQwNzEzMTA0OTI5WjBSMQswCQYDVQQGEwJQTDETMBEGA1UECAwK
U29tZS1TdGF0ZTEOMAwGA1UECgwFUmVhbE4xDjAMBgNVBAsMBVJlYWxOMQ4wDAYD
VQQDDAVSZWFsTjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKbrgaqC
bMEIgO7f/jvaWsbAxhrZP0JpSi4hqcX8wdxbJvfI9P2WGKtQu1UecHB9Xc5RVVkM
whe2c5EvbMTywKizbX1MnUoiImPRPYKMLIYUgt+9BMrkV73SE2FPllyB4i8ILTPE
wWM6Iwgeza2ErltUVpUyjx0ECvvO1V3BRbdnm09NpRwTxzE2WO0kCRRUbVM0E45i
D6H3E2saoGX0ptTaQftm4Pi/+tKrOeUohIFOwWDyxcmqucr0ah/EZF4I5CAX6BiF
CdSrl60lTxYcbeo81Yy3qwlRVeFl3wXUiCTKLqafhy7QcRb3AX0IoXb4yBnBeHHo
nbktT4NzKIyIsYUCAwEAAaNTMFEwHQYDVR0OBBYEFLiOMviWKwOamd6MstkhQ/Bw
jgLlMB8GA1UdIwQYMBaAFLiOMviWKwOamd6MstkhQ/BwjgLlMA8GA1UdEwEB/wQF
MAMBAf8wDQYJKoZIhvcNAQELBQADggEBAIax9DeQQADrsWI61e269qBsEe4T+WKO
mIOT0Gv60MdQlnvKixgPnFMB1Vx5NvVEfuI8cgI4DVlwv3afWiOtpIJH1N060+m0
dVPPBHjmtO3UX/MqHLHEJYvSGYyURYiqj5xguaHMq/uMpGQI0xJfasV0EHkTfQkX
8UDsGcdhwNEfibrLxFted/7D8PYdAZ1xAVF+LPjiubGkYvlu8TL/VZE9VYevvisD
bJtcRqGW4Ww86ZziLvp34Ww6mhbgoFdyefPtjefqDZpU3AdeyDlKIi+cfiQV42qE
/YDb6MlA46FVc5kaycb+LC6ZrwfxphvIpLnugNNJXqzDwU/0jYaeJnA=
-----END CERTIFICATE-----
